{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'bootstrap/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'bootstrap/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/plugins/loaders/blockui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/plugins/ui/nicescroll.min.js' %}"></script>
	<!-- /core JS files -->


</head>
<body>

<body class="navbar-bottom">

	<!-- Page header -->
	<div class="page-header page-header-inverse">

		<!-- Main navbar -->
		<div class="navbar navbar-inverse navbar-transparent">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><img src="{% static 'bootstrap/images/logo_light.png' %}" alt=""></a>

				<ul class="nav navbar-nav pull-right visible-xs-block">
					<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
					<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
				</ul>
			</div>

			<div class="navbar-collapse collapse" id="navbar-mobile">
				<div class="navbar-right">
					<ul class="nav navbar-nav">

                        <li><a href="/add-offer">Sign up User</a></li>
                        {% if user.is_authenticated %}
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-toggle="dropdown">
								<img src="{% static 'bootstrap/images/placeholder.jpg' %}" alt="">
								<span>{{ user.username}} </span>
								<i class="caret"></i>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
								<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
								<li><a href="#"><span class="badge bg-blue pull-right">26</span> <i class="icon-comment-discussion"></i> Messages</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
								<li><a href="/logout"><i class="icon-switch2"></i> Logout</a></li>
							</ul>
						</li>
                        {% else %}
                        					<li><a href="/signupu">Sign up User</a></li>
                                            <li><a href="/signupc">Sign up Company</a></li>
                                            <li><a href="/login">Log in</a></li>

                        {% endif %}

					</ul>
				</div>
			</div>
		</div>
    </div>
		<!-- /main navbar -->

{% block content %}

{% endblock %}

</body>
</html>